{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}



    {{ form_start(registrationForm, {'attr': {'class': 'vh-100 d-flex flex-column p-5 justify-content-center align-items-center'}}) }}
<div class="d-flex flex-column p-3 justify-content-center align-items-center  rounded w-50 bg-primary text-white">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    {{ form_row(registrationForm.email, {'attr': {'class': 'form-control px-5'}}) }}
        {{ form_row(registrationForm.nom , {'attr': {'class': 'form-control px-5'}}) }}
        {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control px-5'}}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        , 'attr': {'class': 'form-control px-5 mb-3'}}) }}

        {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-check-inpu ms-2'}}) }}

        <button type="submit" class="btn btn-lg btn-secondary w-75 m-4">Register</button>
</div>
    {{ form_end(registrationForm) }}
{% endblock %}
