{% extends 'base.html.twig' %}

{% block title %}Liste article{% endblock %}

{% block body %}

<div class="p-5">
    <h1>{{ listeCourse.nom }}</h1>
    <div class="d-flex justify-content-sm-around">
        <a type="button" class="btn btn-primary" href="{{ path('app_details_article_new',{"id":listeCourse.id})}}">Ajouter un article</a>
        <a type="button" class="btn btn-primary" href="{{ path('app_home') }}">Retour</a>
    </div>
    <table class="table bg-primary-subtle m-0 ">
        <tr>
            <th scope="col">Nom article</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantité</th>
            <th scope="col">important </th>
            <th scope="col">Acheter</th>
            <th scope="col"></th>
        </tr>
        {% for article in listeCourse.detailsArticles %}
        <tr>
            <td>{{ article.article.nom }}</td>
            <td>{{ article.prix }}€</td>
            <td>{{ article.quantite }}</td>
            {% if article.estImportant == 1 %}
                <td>oui</td>
            {% else %}
                <td>non</td>
            {% endif %}
            <td>
                <form method="post" action="{{ path('app_details_article_achete',{'id':article.id}) }}">
                    {% if article.estAchete == false %}
                        <input class="btn btn-primary" type="submit" name="acheter" value="non" >
                    {% else %}
                        <input class="btn btn-primary" type="submit" name="acheter" value="oui" >
                    {% endif %}
                </form>
            </td>
            <td>
                {{ include('details_article/_delete_form.html.twig', {'id': article.id}) }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="d-flex justify-content-around align-items-center bg-primary text-white rounded">
        {% if totalPrix != null or maxPrix != null or minPrix!= null %}
            <h4 class="m-0">Statistiques de votre liste</h4>
            <p class="m-0">Prix total : {{ totalPrix }}€</p>
            <div class="d-flex flex-column">
                <p class="m-0">Article le plus cher : {{ maxPrix[0][1] }}</p>
                <p class="m-0">Prix : {{ maxPrix[0][0] }}€</p>
            </div>
            <div class="d-flex flex-column">
                <p class="m-0">Article le moins cher : {{ minPrix[0][1] }}</p>
                <p class="m-0">Prix : {{ minPrix[0][0] }}€</p>
            </div>
            <p class="m-0">Prix moyen : {{ moyPrix }}€</p>
        {% endif %}
    </div>
</div>
{% endblock %}
