{{ form_start(form, {'attr':{'class':'d-flex flex-column  justify-content-center align-items-center'}}) }}
    <label for="nom">
        nom :
        {{ form_widget(form.nom, {'attr': {'class': 'form-control px-5'}}) }}
    </label>
    <label>
        prix unitaire :
        {{ form_widget(form.prixUnitaire, {'attr': {'class': 'form-control px-5'}}) }}
    </label>
    <label>
        type :
        {{ form_widget(form.type, {'attr': {'class': 'form-select px-5'}}) }}
    </label>
    <button class="btn btn-lg btn-secondary w-75 m-4">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
