{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}


    {{ include('utilitaire/headerAdmin.html.twig') }}
    <div class="homeContent w-100 h-100">
        <div class="d-flex flex-column p-5 h-100">
            <div class="d-flex flex-row justify-content-sm-between align-items-center w-100">
                <h1>Liste des articles</h1>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.nom }}</td>
                        <td>
                            <a href="{{ path('admin_article_show', {'id': article.id}) }}" class="btn btn-outline-primary"><i class="bi bi-info-circle"></i></a>
                            <a href="{{ path('admin_article_edit', {'id': article.id}) }}" class="btn btn-outline-primary"><i class="bi bi-pencil"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucun article</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div>
                <a href="{{ path('admin_article_new')}}" class="btn btn-primary">Nouvel article</a>
                <a href="{{ path('admin_index') }}" class="btn btn-primary">Retour</a>
            </div>

        </div>
    </div>
    {{ include('utilitaire/footerAdmin.html.twig') }}
{% endblock %}
