{% extends 'base.html.twig' %}

{% block title %}Détail{% endblock %}

{% block body %}
<div class="w-100 h-100">
    <div class="d-flex flex-column p-5 h-100">
        <h1>Détail de l'article</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ article.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ article.nom }}</td>
                </tr>
                <tr>
                    <th>PrixUnitaire</th>
                    <td>{{ article.prixUnitaire }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ article.type }}</td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex flex-row justify-content-start gap-2">
            <a href="{{ path('admin_article_index') }}" class="btn btn-primary">Retour</a>
            <a href="{{ path('admin_article_edit', {'id': article.id}) }}" class="btn btn-primary">Éditer</a>
        </div>
    </div>
</div>
{% endblock %}
